<h2>Last week's shifts</h2>
<div class="cards-container">
    <div class="card" *ngFor="let shift of pastShifts">
        <div class="align">
            <span class="red"></span>
            <span class="yellow"></span>
            <span class="green"></span>
        </div>
        <h1>{{ shift.shiftPlace }}</h1>
        <div class="shift-details">
            <p>Date: {{ shift.shiftDate | date:'dd-MMM-yyyy' }}</p>
            <p>Time: {{ shift.shiftStartTime }} - {{ shift.shiftEndTime }}</p>
            <p>Profit: <b class="money">{{ shift.shiftProfit }}$</b></p>
        </div>
    </div>
    <div class="no-shifts-message" *ngIf="pastShifts.length === 0 || pastShifts === undefined">
        <i>No shifts scheduled for last week!</i>
    </div>
</div>