.no-shifts-message {
    text-align: center;
    color: #6c63ff;
    margin-top: 50px;
}

.main-container {
    margin: 0 5%;
    margin-top: 10px;
}
.table-container {
    max-height: 400px; 
    overflow-y: auto;
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 15px;
}
table {
    white-space: nowrap;
}
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-track {
    background: var(--darkWhite);
}

h1 {
    text-align: center;
    margin-bottom: 2em;
    color: #6c63ff;
  }