.no-shifts-message {
    text-align: center;
    color: #6c63ff;
    margin-top: 50px;
}

::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-track {
    background: var(--darkWhite);
}

h1 {
    text-align: center;
    margin-bottom: 2em;
    color: #6c63ff;
  }